<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/base-head.njk" %}
  </head>

  <body>
    {% include "partials/site-header.njk" %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    
  </body>
  {% include "partials/page-footer.njk" %}
  {% include "partials/site-footer.njk" %}
</html>