{% extends "layouts/base.njk" %} 

{% set title = config.projectName %}
{% set profile_img = "media/chobi.png" %}

{% block content %}
  <section class="wrapper layout-grid">
    <img src="{{ profile_img }}" width="200">
    
    <div class="layout-span layout-span--main | content-main flow">
      {{ content | safe }}
    </div>
    
    <div class="layout-span layout-span--aside">
      <aside class="content-aside flow">
        <h2>Quick Links</h2>
        <p><h4>My research</h4></p>
        <ul>
  
          {% for item in collections.feed %}
            {% include "partials/site-post-list.njk" %}
          {% endfor %}

          <li><a href="https://scholar.google.com/citations?user=dvUpRO4AAAAJ&hl=en?">Google Scholar</a></li>
          <li><a href="https://researchgate.net/profile/Nilayan-Paul">Researchgate</a></li>
          
        </ul>
      </aside>
    </div>
  </section>
{% endblock %}