{% extends "layouts/base.njk" %} 

{% set title = config.projectName %}

{% block content %}
  <section class="wrapper layout-grid">
    <h1 class="page-header layout-span">{{ title }}</h1>
    <div class="layout-span layout-span--main | content-main flow">
      {{ content | safe }}
    </div>
    
    <div class="layout-span layout-span--aside">
      <aside class="content-aside flow">
        <h2>Quick Links</h2>
        <p><h4>My research</h4></p>
        <ul>
  
          {% for item in collections.feed %}
            {% include "partials/site-post-list.njk" %}
          {% endfor %}
          
        </ul>
      </aside>
    </div>

  </section>
{% endblock %}