{% extends "layouts/base.njk" %}

{% block content %}
  <section class="wrapper layout-list">
    <h1 class="page-header layout-span">{{ title }}</h1>
    <div class="layout-span | content-main flow">
      <ul>
        {% for item in collections.publication_id %}
            <p>{% include "partials/pub_id.njk" %}</p>
        {% endfor %}
      </ul>
  </section>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
  </script>  
{% endblock %}