<article class="wrapper layout-grid content-highlight">
<h6 class="page-header layout-span | content-main flow">{{ item.data.title }}</h6>
<div class="layout-list">

  {% if item.data.authors %}
  <p>{{ item.data.authors }}</p>
  {% endif %}

  {% if item.data.event %}
  <p>{{ item.data.event }}</p>
  {% endif %}

  <div class="content-main flow">
    {% if item.data.image %}
    <img src = "./{{ item.data.image }}" alt="image goes here" width="400">
    {% endif %}
    <br/>
  </div>

</div>

<div class="layout-aside">
{% if item.data.proceedings %}
  <div>
    <a href="{{ item. data.proceedings }}" target="_blank">Proceedings</a>
  </div>
  <br>
{% endif %}

{% if item.data.abstract_file %}
  <div>
    <a href="./{{ item.data.abstract_file }}" download="abstract.pdf">Abstract</a>
  </div>
  <br>
{% endif %}

{% if item.data.poster_file %}
  <div>
    <a href="./{{ item.data.poster_file }}" download="poster.pdf">Poster</a>
  </div>
  <br>
{% endif %}

{% if item.data.presentation_file %}
  <div>
    <a href="./{{ item.data.presentation_file }}" download="Presentation.pdf">Presentation</a>
  </div>
  <br>
{% endif %}
</div>

{% if item.data.abstract %}
  <div class="layout-span">
      <button class="collapsible">Abstract</button>
      <div class="content">
      <p>{{ item.data.abstract }}</p>
      </div>
  </div>
{% endif %}
</article>