<article class="wrapper layout-grid content-highlight">

<h6 class="page-header layout-span | content-main flow">{{ item.data.title }}</h6>
<div class="layout-list">

  {% if item.data.authors %}
  <p>{{ item.data.authors }}</p>
  {% endif %}

  {% if item.data.jorunal %}
  <p>{{ item.data.jorunal }}</p>
  {% endif %}

  {% if item.data.pub_year %}
  <p>{{ item.data.pub_year }}</p>
  {% endif %}

  {% if item.data.doi %}
  <p>Available <a href="{{ item.data.doi }}" target="_blank">here</a></p>
  {% endif %}

  <div class="content-main flow">
    {% if item.data.image %}
    <img src = "./{{ item.data.image }}" alt="image goes here" width="400">
    {% endif %}
    <br/>
  </div>
</div>

{% if item.data.abstract %}
  <div class="layout-span">
      <button class="collapsible">Abstract</button>
      <div class="content">
      <p>{{ item.data.abstract }}</p>
      </div>
  </div>
{% endif %}

</article>