<section class="wrapper layout-grid">
<h6 class="page-header layout-span | content-main flow">{{ item.data.title }}</h6>
<div class="layout-span layout-span--main | content-main flow">
      {{ content | safe }}
    </div>
</section>