<footer class="site-footer wrapper layout-grid flow">
  <div class="layout-span">
    <p>&copy; {{ helpers.dateNow | dateToYear }} Nilayan Paul</p>
    <p>Site built with <a href="https://www.11ty.dev/">11ty</a>. Theme template <a href="https://github.com/kevh-c/11ty-get-going">11ty-get-going</a></p>
  </div>
</footer>